# Ignore object files
*.o

# Ignore compiled binaries and executables
client
smtp
analyzer

# Ignore debugging symbols directories
*.dSYM

# Ignore specific directories
/mailbox/
/malware/

# Ignore general temporary files
*.log
*.tmp
*.swp

